@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Concert+One&family=DynaPuff:wght@400;600&family=Kalam:wght@400;700&family=Lilita+One&family=Text+Me+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: 0, 0, 0;
    --color-text-inverted: 255, 255, 255;
    --color-text-links: 255, 255, 255;
    --color-background: 11, 10, 10;
    --color-layout: 34, 34, 34;
    --color-layout2: 0, 0, 0;
    --color-layoutinverted: 255, 255, 255;
    --color-layoutcarpet: 255, 255, 255;
  }
  .theme-lofy {
    --color-text-base: 0, 0, 0;
    --color-text-inverted: 255, 255, 255;
    --color-text-links: 255, 255, 255;
    --color-background: 11, 10, 10;
    --color-layout: 24, 24, 24;
    --color-layout2: 0, 0, 0;
    --color-layoutinverted: 255, 250, 94 ;
    --color-layoutcarpet: 255, 0, 255;
  }
  .theme-party {
    --color-text-base: 17, 24, 2;
    --color-text-inverted: 17, 24, 2;
    --color-text-links: 17, 24, 2;
    --color-background: 179, 255, 23;
    --color-layout: 36, 52, 3;
    --color-layout2: 36, 52, 3;
    --color-layoutinverted: 36, 52, 3;
    --color-layoutcarpet: 55, 79, 5;
  }
}